@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif !important;
}

#root{
  height: 100%;
}

body {
  margin: 0;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: auto;
  height: 600px;
  background-color: #fff;
}

body {
  position: relative;
}
#input-auth{
  margin-bottom: 2%; 
}
.background {
  background: #a9c7c5;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 600px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 4em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  h2{
    font-size: 12px;
    }
    .div-center {
      width: auto;
    }
    #container {
      height: auto;
    }
  }