.img-profile {
    border-radius: 5px 5px 5px 5px;
}

.profile-con-normal {
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #E6E6E6;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-size: 20px;
}

.profile-con-normal:hover {
  box-shadow: 0 8px 16px 0 grey;
}

.profile-con {
    width: 100%;
    padding-bottom: 2%;
    background-color: #E6E6E6;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

.profile-con2{
  padding-left: 5%;
}
.profile-con:hover {
  box-shadow: 0 8px 16px 0 grey;
}

.notification-con {
  width: 600px;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #E6E6E6;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.notification-con:hover {
box-shadow: 0 8px 16px 0 grey;
}

.health-con {
  width: 600px;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #E6E6E6;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.health-con:hover {
box-shadow: 0 8px 16px 0 grey;
}


.column {
  float: left;
  padding-right: 10%;
  padding-bottom: 1%;
}

.column-unwatch { 
  float: left;
}
.column-unwatch2 {
  width: 40%;
  float: right;
}

.frequency-con {
  width: 600px;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 10%;
  background-color: #E6E6E6;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.frequency-con:hover {
box-shadow: 0 8px 16px 0 grey;
}
.row{
  padding-top: 3%;
  padding-left: 5%;
  display: table;
  clear: both;
}



@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
  .health-con {
    width: 100%;
  }
  .notification-con{
    width: 100%;
  }
}
