.form-control {
    min-height: 50px;
    padding-bottom: 2%;
}

.text-center{
    height: 100%;
}

.login-form {
    width: 500px;
    margin: 50px auto;
}

#header{
    color: black;
    padding-top: 15%; 
    font-size: 60px;
  }


@media screen and (max-width: 600px) {
    .login-form {
        width: 80%;
    }
    #header{
        padding-top: 20%; 
    }
}