.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 82px;
    left: 0;
    background-color: #686868;
    overflow-x: hidden;
    padding-top: 20px;
}

#userImg{
    padding-top: 5%;
    width: 80%;
    padding-left: 5%;
  }

#logoutBtn {
    position: fixed;
    bottom: 0;
    left: 10px;
    padding: 10px 50px;

}

h2{
    text-align: center;
}